<div class="feedbackMainContent">
   <h2>Feedback</h2>
   <div ng-show="isBusy">
      Loading...
      <i class="fa fa-refresh fa-spin"></i>
   </div>
   <div ng-hide="isBusy">
      <form name="form.inputForm"
         novalidate ng-cloak
         ng-hide="showConfirmation">
         <div class="form-group">
            <label>Application Name</label>
            <br/>
            <strong>{{appDevProjectUI.AppDevProjectName}}
               {{appDevProjectUI.AppDevProjectVersion}}</strong>
         </div>
         <div class="form-group">
            <label>Application Details</label>
            <br/>
            <strong>{{appDevProjectUI.AppDevProjectDescription}}</strong>
         </div>
         <div class="form-group" ng-class="{'has-error': form.inputForm.feedbackContent.$invalid}">
            <label>Feedback from
               <strong>{{userFullName}}</strong>
            </label>
            <div>
               <watg-richtext-editor id="'feedbackContent'"
                  name="feedbackContent"
                  rich-text="appDevProjectUI.FeedbackContent"
                  config="feedbackRichtextConfig"
                  reset-count="feebackContentResetCount"
                  required></watg-richtext-editor>
            </div>
         </div>
         <div class="form-group">
            <label>Click stars to
               rate</label>
            <br/>
            <ul class="star-rating">
               <li ng-repeat="star in stars"
                  class="star"
                  ng-class="{filled: star.filled}"
                  ng-click="toggle($index)">
                  <i class="fa fa-star"></i>
               </li>
            </ul>
         </div>
         <div class="form-group" ng-class="{'has-error': form.inputForm.file.$invalid}">
            <div ng-if="feedbackMaxNumberOfAttachments>1">
               <label>Add Attachments
                  (max.{{feedbackMaxNumberOfAttachments}})</label>
            </div>
            <div ng-if="feedbackMaxNumberOfAttachments===1">
               <label>Add Attachment</label>
            </div>
            <div>
               <span class="btn btn-primary btn-file"
                  ng-if="appDevProjectUI.Files.length < feedbackMaxNumberOfAttachments">
                  <i class="fa fa-plus"></i>
                  <input type="file" id="file"
                     name="file"
                     accept=".doc, .pdf, .xls, .xlsx, .docx, image/*"
                     watg-feedback-fileselect
                     files="appDevProjectUI.Files"
                     max-file-size="feedbackAttachmentMaxSize"
                     max-image-height="feedbackAttachmentImageMaxHeight"
                     max-image-width="feedbackAttachmentImageMaxWidth"
                     is-busy="attachmentUploadIsBusy"
                     messages="attachmentUploadMessages"
                  />
               </span>
            </div>
            <br>
            <div ng-show="attachmentUploadMessages.length > 0">
               <div ng-repeat="m in attachmentUploadMessages">
                  {{m}}
               </div>
            </div>
            <div ng-show="appDevProjectUI.Files.length > 0">
               <div class="attachedFileRow"
                  ng-repeat="f in appDevProjectUI.Files">
                  <div>
                     <span>{{f.name}}</span>
                  </div>
                  <div>
                     <i class="fa fa-remove idosomething"
                        title="remove"
                        ng-click="appDevProjectUI.Files.splice($index, 1)"></i>
                  </div>
               </div>
            </div>
         </div>
         <hr/>
         <div class="form-group">
            <div class="pull-right">
               <button class="btn btn-primary"
                  type="button"
                  ng-disabled="form.inputForm.$invalid || isBusySubmittingFeedback || !appDevProjectUI.AppDevProjectId || !appDevProjectUI.FeedbackContent"
                  ng-click="submitAppDevProjectFeedback()">
                  <i class="fa fa-refresh fa-spin"
                     ng-show="isBusySubmittingFeedback"></i> Submit
               </button>
            </div>
            <br/>
         </div>
      </form>
      <div ng-show="showConfirmation">
         <h3>Thank you!
            <small>Your feedback
               has been successfully
               recorded.</small>
         </h3>
      </div>
   </div>
   <!--<div>-->
   <!--<pre>{{appDevProjectUI|json}}</pre>-->
   <!--</div>-->
</div>
